.info-booking h5 {
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(0, 255, 255, 0.185);
    max-width: 450px;
    box-sizing: border-box;
    overflow: hidden;
}

.credit {
    width: 30px;
    margin: 0 3px;
    margin-right: 10px;
}

.paypal {
    width: 90px;
    height: 23px;
}