.admin-list {
    margin-top: 40px;
    color:rgb(14, 14, 112);
    border-bottom: 4px solid rgb(14, 14, 112);
    padding: 5px 0;
    width: 50%;
}

.admin-child {
    background-color: rgb(214, 214, 214);
    padding: 10px 5px;
    max-width: 500px;
    border-radius: 5px;
    margin: 10px 0;
}

.custom-ico {
    color: rgb(175, 0, 0);
    cursor: pointer;
}
.custom-ico:hover {
    color: red;
}