.review-background {
    margin-top: 100px;
}

.review-container {
    background-image: url(../../../images/text-background.jpg);
    box-shadow:inset 0 0 0 2000px #99b1c7f1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 30vh;
}

.review-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    border: 2px solid rgb(3, 33, 53);
}

.image-div {
    padding: 10px 0;
}

.image-div img {
    border: 2px solid rgb(3, 33, 53);
    position: absolute;
    margin-top: -60px;
    margin-left: -35px;
    width: 70px;
    border-radius: 50%;
}