.hr-admin {
    border-top: 4px solid rgb(14, 14, 112);
}

form > h3 {
    color:rgb(14, 14, 112);
    border-bottom: 4px solid rgb(14, 14, 112);
    padding: 5px 0;
    width: 50%;
}

.input-form > input{
    background-color:rgb(226, 226, 226);
    border: 0;
    border: 2px solid rgb(14, 14, 112);
    color: black;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 10px 10px 10px 0;
}

.submit-btn {
    width: 50%;
    margin-top: 50px;
}